.App {
    --header_height: 60px;
    overflow-x: auto;
    font-family: 'Montserrat', sans-serif;

}

.hw {

}

.hwTitle {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}